*
{
    font-family: "Poppins", sans-serif;
    font-weight: 200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --principal-color: #0088FF;
    --scale-anim: scale(97%,97%);
}

.todoTitle
{
    letter-spacing: 0.25em;
    font-size: 46px;
    color: var(--principal-color);
}

.todoTitle, .formTodo
{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTodo
{
    min-height: 6vh;
    max-width: 900px;
    margin:0 auto;
}

#headerTaskList
{
    margin-top: 15px;
    width: 840px;
    height: 30px;
    border-bottom: 2px solid rgba(0, 136, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerTaskList label
{
    width: 100px;
    letter-spacing: 0.02em;
    font-size: 14px;
}

#statusLabel, #taskLabel,#dateLabel,#editLabel,#removeLabel
{
    width: 100%;
    display: flex;
    position: relative;
}

#statusLabel
{
    right: 150px;
}

#taskLabel
{
    right: 140px;
}

#dateLabel
{
    left: 255px;
}

#editLabel
{
    left: 250px;
}

#removeLabel
{
    left: 195px;
}

.formTodo
{
    background: #FFFFFF;
    box-shadow: 1px 1px 50px 5px rgba(0, 0, 0, 0.05);
}

#inputTask
{
    outline: none;
    overflow: hidden;
    padding: 0.3rem;
    width: 39rem;
    border-radius: 0;
    border: 1.5px solid #AAAAAA;
    font-size: 0.95rem;
}

#inputTask::placeholder
{
    color:#CCCCCC;
    font-size: 0.95rem;
}

#submitBtn, #filterBtn
{
    cursor: pointer;
    padding: 0.4rem;
    margin-left: 0.6rem;
    background-color: white;
    border-radius: 0;
    border:1.5px solid var(--principal-color);
    transition: 0.25s ease;
}

#submitBtn i, #submitBtn span
{
    color: var(--principal-color);
    pointer-events: none;
}
#submitBtn:hover
{
    transform: var(--scale-anim);;
    background-color: var(--principal-color);
}

#submitBtn:hover, #submitBtn:hover span, #submitBtn:hover i
{
    color: white;
}

#filterBtn
{
    color: var(--principal-color);
    outline: none;
    overflow: hidden;
    padding: 0.35rem;
    margin-left: 1rem;
}

#filterBtn:hover
{
    transform: var(--scale-anim);;
    background-color: var(--principal-color);
    color: white;
}

select
{
    cursor: pointer;
    width: 6rem;
}

.containerList
{
    max-width: 900px;
    height: 50vh;
    position: relative;
    margin:0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 50px 5px rgba(0, 0, 0, 0.05);
    overflow:hidden;
    overflow-y:scroll;
}

.containerList li
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 136, 255, 0.25);
    width: 820px;
    height: 50px;
    position: relative;
    padding: 12px 20px;
    transition: 0.25s ease;
}

.containerList li:last-child
{
    border:none;
}

.containerList li:hover
{
    background-color: rgba(0, 136, 255, 0.03);
}

.taskLI
{
    overflow: hidden;
    letter-spacing: 1px;
    margin-left: 2.25rem;
}

#editBtn, #removeBtn
{
    background-color: white;
    border-radius: 0;
    color: var(--principal-color);
    border: 1.5px solid var(--principal-color);
    padding: 0.3rem;
    font-size: 17px;
    transition: 0.25s ease;
    margin-left: 27px;
}

#editBtn:hover, #removeBtn:hover
{
    color: white;
    background-color: var(--principal-color);
    transform: var(--scale-anim);;
}

.checkBox::before
{
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border: 1.5px solid var(--principal-color);
    background-color: white;
    cursor: pointer;
}

.checkActive::before
{
    background-color: var(--principal-color);
}

.checkActive::after
{
    content: "";
    position: absolute;
    display: inline-block;
    left: 28px;
    top: 18px;
    width: 5px;
    height: 12px;
    border: 1px solid white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
}

.taskChecked
{
    text-decoration:line-through;
}

.dateLI
{
    background-color: var(--principal-color);
    color: white;
    font-size: 19px;
    padding:0.11rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    overflow: hidden;
    letter-spacing: 0.5px;
}